[flake8]
max-line-length = 160
max-complexity = 25
ignore =
    W293,
    W291,
    W292,
    W391,
    E501,
    E128,
    E129,
    E261,
    F401,
    F841,
    E402,
    E722,
    C901,
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    *.egg-info,
    .eggs,
    .ipynb_checkpoints
