# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and virtualenvs
.env
.env.*
.venv/
venv/
env/
*.sqlite3

# Data files (exclude large files)
*.csv
*.tsv
*.parquet
*.h5
*.db
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# LFS pointer files
*.lfs 